* {
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    background-color: #333;
    color: white;
    padding: 25px;
    text-align: center;
}

.content {
    padding: 10px 20px 30px;
    margin-top: 10px;
    width: 100%;
    justify-content: space-between;

}

.contacts-section ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.map-section {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background-color: #f0f0f0;
    align-items: center;
    text-align: center;
}